Package: tk.udteam.customboot
Name: CustomBoot
Depends: mobilesubstrate
Version: 0.1.0
Architecture: iphoneos-arm
Description: A simple tweak to change the boot logo.
Maintainer: UD Team
Author: UD Team
Section: Tweaks
